.settings-page {
  padding: 20px;

  h1 {
    font-size: fluid(32, 20);
    margin-bottom: 24px;
  }

  section {
    margin-bottom: 32px;

    h2 {
      font-size: fluid(20, 18);
      color: #0057ff;
    }

    p {
      margin-top: 8px;
      font-size: fluid(16, 14);
    }
  }
}
