:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-blue: #23A6F0;
  --color-white-15: #fff;
  --color-text: #0B132A;
  --color-base: #4F5665;
  --color-footer: #F5F9FC;
  --color-red: #e74040;
  --color-green: #40bb15;

  --border: var(--border-width-m) solid var(--color-blue);

  --border-width-l: 4px;
  --border-width-m: 2px;
  --border-width-s: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius-s: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --font-family-base: 'Montserrat', sans-serif;

  --container-width: #{fluid-to-laptop(
 $container-desktop-width,
  $container-laptop-width )
}

;
--container-padding-x: 16px;

--section-padding-y: #{fluid(75, 40)};

--transition-duration: 0.2s;
--transition-duration-longer: 0.4s;
}