.profile {
  .profile-header {
    position: relative;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 16px 20px;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid var(--color-base);
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.05);
    z-index: 3;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      // @include mobile {
      //   flex-direction: row-reverse;
      //   align-items: flex-end;
      // }
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__button {
      display: none;

      @include mobile {
        display: block;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &__user {
      @include square(58px);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: box-shadow 0.3s ease;
      border-radius: 50%;

      img {
        @include square(56px);
        padding: 4px;
        border-radius: 50%;
        object-fit: cover;
      }

      &:hover {
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.7);
      }
    }

    &__notif {
      @include square(52px);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: box-shadow 0.3s ease;
      border-radius: var(--border-radius-m);
      border: 1px solid var(--color-grey);
      font-size: fluid(24, 20);

      &:hover {
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.7);
      }
    }
  }
}
